p {
    font-size: 150px;
    padding-left: 50px;
}

#one {
    color: #fa5252;
}

#two {
    color: #faaebb;
}

#three {
    color: #c3fcf1;
}

#four {
    color: #c599f0;
}

#five {
    color: #ffa4f9;
}

#six {
    color: #147df5;
}

#seven {
    color: #0aefff;
}

#eight {
    color: #a2d2ff;
}

#nine {
    color: #e63946;
}

#ten {
    color: #f5cac3;
}

#eleven {
    color: #ffbf87;
}
